@import '~bpk-mixins';

@mixin container {
  max-width: $bpk-breakpoint-desktop;
  margin: 0 auto;
}

.App {
  text-align: center;

  &__header {
    padding: $bpk-spacing-lg * 2;
    background-color: $bpk-color-white;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-sky-blue;
    border-bottom: 2px solid $bpk-color-sky-blue;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-xl;
    }
  }

  &__header-inner {
    @include container;
  }

  &__main {
    padding: $bpk-spacing-xxl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include container;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base;
    }
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__button {
    margin-top: $bpk-spacing-md;
    background-color: $bpk-color-sky-blue;
  }

  &__calendar{
    margin-top: $bpk-spacing-lg;
  }
}